{% extends 'base.html' %}

{% block title %}Shopping Basket{% endblock %}

{% block main %}
<main class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="container-fluid">  <!-- 加入 container-fluid 保護內部元素 -->
                <h2 class="mb-4" id="titleshoppingbasket">Your Shopping Basket</h2>

                
                <!-- Cart Items -->
                {% for product in order.products %}
                <div class="item-container" id="boxbasket">
            <div class="row shadow-md my-row mb-3">
                <div class="col-sm-10 col-md-10 card">
                    <h5 class="card-header">{{product.name}}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <img class="img-thumbnail" src="{{url_for('static', filename=('Images/' + product.image))}}">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: left;" id="cartcontent">
                                <!-- Item Description -->
                                <p class="card-text">Description:</p>
                                <hr>
                                <p class="card-text">{{product.description}}</p>
                                <br><p class="card-text">Material:</p>
                                <hr>
                                <p class="card-text">{{product.material}}</p>     
                            </div>  
                        </div>                      
                    </div>
                </div>
                <br><br>
                <!-- right column has price and delete button -->
                <div class="col-sm-2">
                <!-- delete item button -->
                    <h5 class="mt-2">Price: {{"$%.2f"|format(product.price)}}</h5>
                    <form method="POST" action="{{url_for('main.deletebasketitem')}}">
                        <input type="hidden" id="id" name="id" value="{{product.id}}">
                        <input type="submit" value="Delete" class="btn mb-3" id="deleteitem">
                    </form> 
                </div>
            </div>
        </div>
        {% endfor %}

         <!-- total price and page controls -->
         <section>
            <div class="row col-12">
                <h5 class="mt-4 d-flex">Total Price = {{"$%.2f"|format(total_cost)}}</h5>
            </div>
            <hr>
            <div class="row co-12 d-flex mt-2 mb-5">
                <a href="{{url_for('main.deletebasket')}}" class="btn mr-4" id="emptybasket">Empty Basket</a>
                
                <a href="{{url_for('main.products', _anchor='products_anchor')}}" class="btn mr-4" id="addproducts">Add More Products</a>

                <a href="{{url_for('main.checkout')}}" class="btn mr-4" id="proceedcheckout">Proceed to Checkout</a>
            </div>
        </section>

            </div>
        </div>
    </div>
</main>
{% endblock %}
